/*
body{
  background-color: DeepSkyBlue;
}
*/

header{
  text-align: center;
  font-size: 25px;
}

body{
  background-color: white;
}

.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li{
  float: left;
}

.nav a{
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  font-size: 15px;
}

.nav a:hover{
  background-color: #ff0000;
  color: white
}

.active{
  background-color: #ff0000;
  color: white
}

#bandnames{
  list-style-type: none;
}

#bandnames img{
  max-width: 100%;
  height: auto;
}
