
header{
  text-align: center;
  font-size: 25px;
}
.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li{
  float: left;
}

.nav a{
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  font-size: 15px;
}

.nav a:hover{
  background-color: #ff0000;
  color: white
}

.active{
  background-color: #ff0000;
  color: white
}

#bandnames{
  list-style-type: none;
}

#bandnames img{
  max-width: 100%;
  height: auto;
}

/* GreenDay Page
*/
#greenD{
  float: left;
  max-width: 50%;
  height: auto;
}

#greenPara p{
  text-indent: 20px;
  font-size: 20px;
}

/*Sum 41 Page
*/
#sumPic{
  float: left;
  max-width: 60%;
  height: auto;
  margin-right:20px;
  margin-bottom: 20px;
}

#sumPara{
  text-indent: 20px;
  font-size: 20px;
}
